@page
@model HotelManagement6.Pages.guest_info.EditModel

@{
    ViewData["Title"] = "Edit";
    // you are not able to edit this page it has something to do with the dates and foregin keys 
}

<h1>Edit</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guest.Id" />
            <div class="form-group">
                <label asp-for="Guest.FirstName" class="control-label"></label>
                <input asp-for="Guest.FirstName" class="form-control" />
                <span asp-validation-for="Guest.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.LastName" class="control-label"></label>
                <input asp-for="Guest.LastName" class="form-control" />
                <span asp-validation-for="Guest.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.GovId" class="control-label"></label>
                <input asp-for="Guest.GovId" class="form-control" />
                <span asp-validation-for="Guest.GovId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Phone" class="control-label"></label>
                <input asp-for="Guest.Phone" class="form-control" />
                <span asp-validation-for="Guest.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Email" class="control-label"></label>
                <input asp-for="Guest.Email" class="form-control" />
                <span asp-validation-for="Guest.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.DateOfBirth" class="control-label"></label>
                <input asp-for="Guest.DateOfBirth" class="form-control" />
                <span asp-validation-for="Guest.DateOfBirth" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Room.RoomNumber" class="control-label"></label>
                <input asp-for="Room.RoomNumber" class="form-control" />
                <span asp-validation-for="Room.RoomNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reservation.CheckIn" class="control-label"></label>
                <input asp-for="Reservation.CheckIn" class="form-control" />
                <span asp-validation-for="Reservation.CheckIn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reservation.CheckOut" class="control-label"></label>
                <input asp-for="Reservation.CheckOut" class="form-control" />
                <span asp-validation-for="Reservation.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
